
@if(value.length > 0){
    
<div class="fav-body">
    <div class="fav-body-1">


        <div class="fav-title-list">
            <h1 class="fav-title">You recently searched for</h1>
            <h1 class="fav-remove">Clear all</h1>
        </div>

        <div class="fav-list">
            <div class="fav-item">


                <div class="fav-item-title">
                    <h1 class="fav-item-text">Bangkok, Krung Thep</h1>
                </div>

                <div class="fav-item-middle">
                    <div class="fav-item-img2">
                        <img src="assets/icons/icon_mostly_sunny.png" alt="">
                    </div>


                    <div class="fav-item-temp">
                        <h1>27<span>°C</span></h1>
                    </div>

                    <div class="fav-item-temp-title">
                        <h1>sunny</h1>
                    </div>
                </div>



                <div class="fav-item-img-1">
                    <img src="assets/icons/icon_favourite_Active.png" alt="">
                </div>

            </div>
        </div>


        <!-- mobile -->

        <div class="fav-list-mobile">
            <div class="fav-item-mobile">

                <div class="fav-item-title-mobile">
                    <h1 class="fav-item-text-mobile">Udupi, Karnataka</h1>
                </div>


                <div class="fav-item-middle-mobile">
                    <div class="fav-item-img2-mobile">
                        <img src="assets/icons/icon_mostly_sunny.png" alt="Weather Icon">
                    </div>

                    <div class="fav-item-temp-mobile">
                        <h1>31<span>°C</span></h1>
                    </div>

                    <div class="fav-item-temp-title-mobile">
                        <h1>Mostly Sunny</h1>
                    </div>
                </div>


            </div>
            <div class="fav-item-img-1-mobile">
                <img src="assets/icons/icon_favourite_Active.png" alt="Favorite Icon">
            </div>
        </div>



    </div>
</div>
<app-dialoguebox
    *ngIf="showPrompt"
    (response)="handleResponse($event)"
  ></app-dialoguebox>
}
@else{
    <div class="fav-empty">
    <img src="assets/icons/icon_nothing.png" alt="Empty">
    <p>No Recent Search</p>
    </div>
}