.home-content-body{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-content-title{
    font-size: 1.5rem;
    font-family: "Inter", serif;
    font-weight: 400;
    color: #fff;
    margin: 2rem 1rem 0rem;
   
}

.fav{
    padding: 0;
    margin-left: .8rem;

}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 1rem;
   
  }
   
  .buttons>button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
   
  }
   
  .buttons button {
    padding: 8px 15px;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
   
     /* Text color changes to red */
  }
  .buttons button.active {
    background-color: white;
    color: red;
   
  }

.home-content-button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #fff;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: .9rem;
    margin: 0;


}

.weather-details{
    display: flex;  
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;

}

.weather-temp{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    color: #fff;
    font-family: "Inter", serif;
   
    font-size: 1rem;
}

.temp{
    font-size: 4.5rem;
    font-weight: 540;
    margin: 1rem 0 0 0;
}

.temp-text{
    margin: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 350;
    letter-spacing: .05rem;
    font-family: "Inter", serif;}

@media only screen and (max-width: 775px) {
    .home-content-title{
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
        /* margin-left: 0; */
        margin-bottom: 1rem;
        letter-spacing: .1cap;
    }

    

    .fav{
        margin: 0;
        display: flex;
        justify-content: center;
        
    }

    .home-content-button{
        font-size: .8rem;
    }
    .home-content-button>img{
        width: 1.5rem;
    }

    .weather-details>img{
        margin-top: 2rem;
        width: 4rem;
    }
    .temp{
        font-size: 3.5rem;
    }

    .temp-text{
        font-size: 1.1rem;
        margin-top: .7rem;
        margin-bottom: 2rem;
    }
}