<div class="home-content-body">
    <h1 class="home-content-title">{{data.location.name}}, {{data.location.region}}</h1>

    <div class="fav">
        <button class="home-content-button" *ngIf="!b" (click)="addToFavourite()">
            <img src="assets/icons/icon_favourite.png" alt=""> Add to favourite
        </button>
        <button class="home-content-button" *ngIf="b">
            <img src="assets/icons/icon_favourite_Active.png" alt=""> Added to favourite
        </button>
    </div>
    

    <div class="weather-details">
        <img [src]="data.current.condition.icon" alt="">


        <div class="weather-temp">
            <div class="tempyy">
                <h1 class="temp">{{currentTemperature}}</h1>

            </div>
            <div class="temp1">
                <div class="buttons">
                    <button
                      [ngClass]="{'active': isCelsiusSelected}"
                      (click)="convertToCelsius()">°C
                    </button>
                    <button
                      [ngClass]="{'active': !isCelsiusSelected}"
                      (click)="convertToFahrenheit()">°F
                    </button>
                  </div>
            </div>
            
        </div>
        <h1 class="temp-text">{{data.current.condition.text}}</h1>
    </div>
</div>
<app-home-content-bottom></app-home-content-bottom>