:root {
    --white: #ffffff;
    --yellow: #ffd639;
    --red: #e32843;
    --blueGrey: #75889f;
    --purple: rgba(136, 81, 204, 0.68);
    --grey: rgba(255, 255, 255, 0.184);
}

body {
    background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
   
    margin: 0 10%;
    max-width: 100vw;
    overflow: hidden;

}


@media screen and (max-width: 775px) {
    body {
        margin: 0;
    }
}