<div class="footer">
    <div class="home-content-bottom">
        <div class="min-max">
            <img src="assets/icons/icon_temperature_info.png" alt="">
            <div class="details">
                <h1 class="details-text">Min-Max</h1>
                <h1 class="details-value">{{value.current.temp_c-2}}° - {{value.current.temp_c+2}}°</h1>
            </div>
        </div>
        <div class="precipitation">
            <img src="assets/icons/icon_precipitation_info.png" alt="">
            <div class="details">
                <h1 class="details-text">Precipitation</h1>
                <h1 class="details-value">{{value.current.precip_mm}} mm</h1>
            </div>
        </div>
        <div class="humidity">
            <img src="assets/icons/icon_humidity_info.png" alt="">
            <div class="details">
                <h1 class="details-text">Humidity</h1>
                <h1 class="details-value">{{value.current.humidity}}%</h1>
            </div>
        </div>
        <div class="wind">
            <img src="assets/icons/icon_wind_info.png" alt="">
            <div class="details">
                <h1 class="details-text">Wind</h1>
                <h1 class="details-value">{{value.current.wind_mph}} mph</h1>
            </div>
        </div>
        <div class="visibility">
            <img src="assets/icons/icon_visibility_info.png" alt="">
            <div class="details">
                <h1 class="details-text">Visibility</h1>
                <h1 class="details-value">{{value.current.vis_miles}} miles</h1>
            </div>
        </div>
    </div>

</div>